.image {
  border-radius: var(--mantine-radius-xs);
  border-color: light-dark(
    darken(var(--mantine-color-default-border), 0.1),
    lighten(var(--mantine-color-default-border), 0.1)
  );
  border-style: solid;
  border-width: 1px;
  flex-grow: 0;
  max-height: 100%;
  object-fit: cover;
}

.teaserText {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  padding-top: rem(1);

  .title {
    display: flex;

    &.noContent {
      display: block;

      .titleText {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        font-size: var(--mantine-font-size-md);
        height: 4lh;
        line-height: 1.3;
        padding-right: 0;
        text-overflow: ellipsis;
        white-space: normal;
      }

      .badge {
        float: right;
        margin-left: calc(var(--mantine-spacing-xs) * 0.5);
      }
    }

    .titleText {
      color: light-dark(var(--mantine-color-text), var(--text-color-bright));
      flex-grow: 1;
      font-size: var(--mantine-font-size-sm);
      font-weight: 500;
      overflow: hidden;
      padding-right: calc(var(--mantine-spacing-xs) * 0.5);
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .teaserText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    flex-grow: 0;
    font-size: var(--mantine-font-size-sm);
    height: 3lh;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
