@import '../../../../../style/_common.sass'
@import '../../../../../style/_buttons.sass'

.edit
  display: flex
  flex-direction: column
  height: 100%

  .forms
    flex-grow: 1
    height: 100%
    margin-top: $padding-lg

    h2
      font-size: 110%
      margin: 0
      padding: $padding-lg $padding-lg 0

      &:first-child
        padding-top: 0

    form

      .row
        display: flex
        line-height: 24px
        padding: $padding-md / 2 $padding-lg $padding-md / 2

        input
          flex-grow: 1

        &.addFeed
          display: flex

          input
            margin-right: $padding-md
            width: auto

          button
            @extend .button-round-sm
    .feeds
      list-style-type: none
      margin: 0
      padding: $padding-md / 2 $padding-lg $padding-md / 2

      li
        display: flex
        line-height: $button-diameter-xs
        margin-bottom: $padding-sm

        .icon
          margin-right: $padding-sm
          padding-top: 2px

        .title
          flex-grow: 1
          overflow: hidden
          padding-right: $padding-sm
          text-overflow: ellipsis
          white-space: nowrap

        button
          @extend .button-round-xs
          min-width: $button-diameter-xs

  .buttons
    display: flex
    padding: $padding-lg 0 $padding-lg $padding-lg

    button
      +button
      flex-grow: 1
      margin-right: $padding-lg

      &.deleteConfirm
        +button-danger
