.center {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: var(--mantine-spacing-sm);

  .paper {
    /* Account for content that would overflow, like buttons, etc. */
    --padding-buffer: rem(2);

    --mantine-color-body: var(--paper-color-body);

    display: flex;
    border-radius: var(--mantine-radius-md);
    max-width: rem(500);
    width: 100%;
    max-height: 100%;
    padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) - var(--padding-buffer))
      calc(var(--mantine-spacing-md) - var(--padding-buffer));
    overflow: hidden;

    .scrollWrapper {
      max-height: 100%;
      width: 100%;

      .content {
        padding: 0 rem(2) rem(2) !important;

        .title {
          display: flex;
          align-items: center;
          gap: var(--mantine-spacing-xs);
          margin-bottom: var(--mantine-spacing-sm);

          .feedIcon {
            height: rem(32);
            width: rem(32);
          }
        }

        .form {
          display: flex;
          flex-direction: column;
          gap: var(--mantine-spacing-md);
        }
      }
    }

    :global(.mantine-ColorPicker-slider) {
      flex-grow: 1;
    }

    .colorSwatch {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.option {
  display: flex;
  align-items: center;

  .label {
    flex-grow: 1;
  }

  .icon {
    margin-right: var(--mantine-spacing-xs);
    height: var(--mantine-font-size-xl);
  }
}
