.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.content {
  max-width: rem(500);
  width: 100%;
  padding: var(--mantine-spacing-xs);
}

.title {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
  margin-bottom: var(--mantine-spacing-sm);
}
