.wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .image {
    position: absolute;
    top: 0;
    left: 50%;
    object-fit: cover;
    margin: 0 auto;
    transform: translateX(-50%);
  }

  .textOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: light-dark(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7));
    padding: var(--mantine-spacing-xs);
    line-height: 1.3;
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-xs);
    font-size: var(--mantine-font-size-md);
    transform: translateY(calc(100% - 1lh - 1.7 * var(--mantine-spacing-xs)));
    transition-duration: var(--transition-duration);
    transition-property: background-color, transform;
    transition-timing-function: var(--transition-timing-function);

    .title {
      display: -webkit-box;
      font-weight: 700;
      flex-shrink: 0;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      height: 1lh;
      line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .content {
      display: -webkit-box;
      font-size: var(--mantine-font-size-sm);
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 7;
      height: 7lh;
      line-clamp: 7;
      overflow: hidden;
      text-overflow: ellipsis;
      opacity: 0;
      transition-duration: var(--transition-duration);
      transition-property: opacity;
      transition-timing-function: var(--transition-timing-function);
    }
  }

  &.slideUp:hover {
    .title {
      -webkit-line-clamp: 2;
      height: 2lh;
      line-clamp: 2;
    }

    .textOverlay {
      background-color: light-dark(rgba(255, 255, 255, 0.85), rgba(0, 0, 0, 0.85));
      transform: translateY(0);
    }

    .content {
      opacity: 1;
    }
  }
}
