.targetWrapper {
  height: 100%;
}

.hoverCard {
  padding: var(--mantine-spacing-sm);
  pointer-events: none;
  text-shadow: var(--text-shadow);

  .flexWrap {
    align-items: flex-start;

    .image {
      aspect-ratio: var(--feed-item-image-ar);
      width: var(--feed-item-image-width);
      border-radius: var(--mantine-radius-sm);
      border: 1px solid var(--mantine-color-default-border);
      flex-shrink: 0;
    }

    .title {
      font-weight: 700;
      line-height: 1.3;
    }

    .content {
      hyphens: auto;
      hyphenate-limit-chars: 6 3 3;
      word-break: break-word;
    }
  }
}
