.feedItemWrapper {
  .feedItem {
    align-items: center;
    border-bottom: 1px solid var(--mantine-color-default-border);
    color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-text));
    display: flex;
    gap: var(--mantine-spacing-xs);
    height: 100%;
    padding: var(--feed-item-padding) rem(2) var(--feed-item-padding) var(--feed-item-padding);
    overflow: hidden;
    text-decoration: none;

    transition-duration: var(--transition-duration);
    transition-property: background-color, color;
    transition-timing-function: var(--transition-timing-function);

    &:hover {
      background-color: light-dark(
        alpha(var(--mantine-color-black), 0.08),
        alpha(var(--mantine-color-black), 0.3)
      );
      color: light-dark(var(--mantine-color-black), var(--text-color-bright));

      .teaserText {
        .title {
          .badge {
            background-color: light-dark(var(--mantine-color-dark-1), var(--mantine-color-dark-5));

            &.new {
              background-color: var(--mantine-primary-color-filled);
            }
          }
        }
      }
    }

    .image {
      border-radius: var(--mantine-radius-xs);
      border: 1px solid var(--mantine-color-default-border);
      flex-grow: 0;
      max-height: 100%;
      object-fit: cover;
    }

    .teaserText {
      display: flex;
      align-self: flex-start;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;
      padding-top: rem(1);

      .title {
        display: flex;

        &.noContent {
          display: block;

          .titleText {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            font-size: var(--mantine-font-size-md);
            height: 4lh;
            line-height: 1.3;
            padding-right: 0;
            text-overflow: ellipsis;
            white-space: normal;
          }

          .badge {
            float: right;
            margin-left: calc(var(--mantine-spacing-xs) * 0.5);
          }
        }

        .titleText {
          color: light-dark(var(--mantine-color-text), var(--text-color-bright));
          flex-grow: 1;
          font-size: var(--mantine-font-size-sm);
          font-weight: 500;
          overflow: hidden;
          padding-right: calc(var(--mantine-spacing-xs) * 0.5);
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .badge {
          --badge-padding-x-sm: calc(var(--mantine-spacing-xs) * 0.5);
          background-color: light-dark(var(--mantine-color-dark-0), var(--mantine-color-dark-5));
          box-shadow: var(--mantine-shadow-sm);
          color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
          font-style: italic;
          margin-top: rem(0);
          overflow: visible;
          text-transform: lowercase;
          transition-duration: var(--transition-duration);
          transition-property: background-color;
          transition-timing-function: var(--transition-timing-function);

          &.new {
            background-color: var(--mantine-primary-color-filled);

            > span {
              color: var(--mantine-color-white);
              text-shadow: 0 1px 0 rgba(0 0 0 / 28%);
            }
          }
        }
      }

      .teaserText {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        flex-grow: 0;
        font-size: var(--mantine-font-size-sm);
        height: 3lh;
        line-height: 1.3;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &:last-of-type .feedItem {
    border-bottom: none;
  }
}
