@import '../../../../../../style/_common.sass'
@import '../../../../../../style/_buttons.sass'

.feeds
  list-style-type: none
  margin: 0
  padding: $padding-md / 2 $padding-lg $padding-md / 2

  li
    display: flex
    line-height: $button-diameter-xs
    margin-bottom: $padding-sm

    .icon
      margin-right: $padding-sm
      padding-top: 2px

    .title
      flex-grow: 1
      overflow: hidden
      padding-right: $padding-sm
      text-overflow: ellipsis
      white-space: nowrap

    button
      @extend .button-round-xs
      min-width: $button-diameter-xs
