@property --scroll-fade-height-top {
  syntax: '<length>';
  inherits: false;
  initial-value: 30px;
}

@property --scroll-fade-height-bottom {
  syntax: '<length>';
  inherits: false;
  initial-value: 30px;
}

.wrapper {
  height: 100%;

  .scroller {
    mask-image: linear-gradient(transparent, rgb(0 0 0 / 100%) var(--scroll-fade-height-top));
    transition-duration: var(--transition-duration);
    transition-property: --scroll-fade-height-top;
    transition-timing-function: var(--transition-timing-function);

    &.atTop {
      --scroll-fade-height-top: 0;
    }

    &.atBottom .list {
      --scroll-fade-height-bottom: 0;
    }

    .list {
      /* Avoid flickering of native scrollbars */
      scrollbar-width: none !important;

      mask-image: linear-gradient(
        to top,
        transparent,
        rgb(0 0 0 / 100%) var(--scroll-fade-height-bottom)
      );
      transition-duration: var(--transition-duration);
      transition-property: --scroll-fade-height-bottom;
      transition-timing-function: var(--transition-timing-function);
    }
  }

  .osTheme {
    --os-handle-bg: light-dark(
      alpha(var(--mantine-color-black), 0.25),
      alpha(var(--mantine-color-white), 0.25)
    );
    --os-handle-bg-hover: light-dark(
      alpha(var(--mantine-color-black), 0.3),
      alpha(var(--mantine-color-white), 0.3)
    );
    --os-handle-bg-active: light-dark(
      alpha(var(--mantine-color-black), 0.3),
      alpha(var(--mantine-color-white), 0.3)
    );
    --os-size: rem(12);
    --os-padding-perpendicular: rem(2);
    --os-padding-axis: rem(2);
    --os-handle-interactive-area-offset: rem(4);
    --os-handle-border-radius: var(--mantine-radius-sm);
    --os-handle-min-size: rem(33);
  }
}
