.feedItem {
  color: var(--mantine-color-text);
  text-decoration: none;

  .text {
    .title {
      font-size: var(--mantine-font-size-sm);
    }

    .teaserText {
      font-size: var(--mantine-font-size-xs);
      height: 3lh;
    }
  }
}
