.wrapper {
  --feed-item-padding: rem(4);
  --scroll-fade-height: rem(30);

  height: 100%;
  width: 100%;
  padding-top: calc(var(--mantine-spacing-xs) - var(--feed-item-padding));
  padding-right: rem(2);
  padding-bottom: var(--mantine-spacing-xs);
  padding-left: calc(var(--mantine-spacing-xs) - var(--feed-item-padding));

  mask-image: linear-gradient(transparent, rgb(0 0 0 / 100%) var(--scroll-fade-height));

  &.atTop {
    mask-image: none;
  }

  &.atBottom .scroller {
    mask-image: none;
  }

  .scroller {
    mask-image: linear-gradient(to top, transparent, rgb(0 0 0 / 100%) var(--scroll-fade-height));
    overflow: hidden auto !important;

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 4px;
      transition-duration: var(--transition-duration-short);
      transition-property: background-color;
      transition-timing-function: var(--transition-timing-function);
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: light-dark(
        alpha(var(--mantine-color-black), 0.15),
        alpha(var(--mantine-color-white), 0.15)
      );
    }
  }
}

.feedItemWrapper {
  .feedItem {
    align-items: center;
    border-bottom: 1px solid var(--mantine-color-default-border);
    color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-text));
    display: flex;
    gap: var(--mantine-spacing-xs);
    height: 100%;
    padding: var(--feed-item-padding);
    overflow: hidden;
    text-decoration: none;

    transition-duration: var(--transition-duration);
    transition-property: background-color, color;
    transition-timing-function: var(--transition-timing-function);

    &:hover {
      background-color: light-dark(
        alpha(var(--mantine-color-black), 0.08),
        alpha(var(--mantine-color-black), 0.3)
      );
      color: light-dark(var(--mantine-color-black), var(--text-color-bright));

      .teaserText {
        .title {
          .badge {
            background-color: light-dark(var(--mantine-color-dark-1), var(--mantine-color-dark-5));
          }
        }
      }
    }

    .image {
      border-radius: var(--mantine-radius-xs);
      border: 1px solid var(--mantine-color-default-border);
      flex-grow: 0;
      max-height: 100%;
      object-fit: cover;
    }

    .teaserText {
      display: flex;
      align-self: flex-start;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;
      padding-top: rem(1);

      .title {
        display: flex;

        .titleText {
          color: light-dark(var(--mantine-color-text), var(--text-color-bright));
          flex-grow: 1;
          font-size: var(--mantine-font-size-md);
          overflow: hidden;
          padding-right: var(--mantine-spacing-md);
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .badge {
          background-color: light-dark(var(--mantine-color-dark-0), var(--mantine-color-dark-5));
          color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
          margin-top: rem(0);
          overflow: visible;
          text-transform: lowercase;
          transition-duration: var(--transition-duration);
          transition-property: background-color;
          transition-timing-function: var(--transition-timing-function);
        }
      }

      .teaserText {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        flex-grow: 0;
        font-size: var(--mantine-font-size-sm);
        height: 3lh;
        line-height: 1.3;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &:last-of-type .feedItem {
    border-bottom: none;
  }
}

.hoverCard {
  padding: var(--mantine-spacing-sm);

  .flexWrap {
    align-items: flex-start;

    .image {
      border-radius: var(--mantine-radius-sm);
      border: 1px solid var(--mantine-color-default-border);
      flex-shrink: 0;
    }

    .title {
      line-height: 1.3;
    }
  }
}
