.targetWrapper {
  height: 100%;
}

.popover {
  padding: var(--mantine-spacing-sm);
  pointer-events: none;
  text-shadow: var(--text-shadow);

  .flexWrap {
    align-items: flex-start;

    .image {
      border-radius: var(--mantine-radius-sm);
      border: 1px solid var(--mantine-color-default-border);
      flex-shrink: 0;
    }

    .title {
      line-height: 1.3;
    }
  }
}
