.badge {
  --badge-padding-x-sm: calc(var(--mantine-spacing-xs) * 0.5);
  background-color: light-dark(
    alpha(var(--mantine-color-dark-4), 70%),
    alpha(var(--mantine-color-gray-6), 60%)
  );
  box-shadow: var(--mantine-shadow-xs);
  color: var(--mantine-color-white);
  font-weight: 400;
  overflow: visible;
  text-shadow: none;
  text-transform: lowercase;
  transition-duration: var(--transition-duration);
  transition-property: background-color;
  transition-timing-function: var(--transition-timing-function);

  &.new {
    background-color: light-dark(
      alpha(var(--mantine-primary-color-filled), 70%),
      alpha(var(--mantine-primary-color-filled), 60%)
    );

    > span {
      color: var(--mantine-color-white);
      text-shadow: 0 1px 0 rgba(0 0 0 / 28%);
    }
  }

  a:visited > & {
    /* Can't change alpha value of :visited styles */
    background-color: light-dark(var(--mantine-color-dark-3), var(--mantine-color-gray-7));
  }
}
