.actionButton {
  --ai-color: var(--dock-nav-button-color) !important;

  &:not([disabled]):hover {
    color: var(--dock-nav-button-color-hover);
  }
}

.title {
  display: flex;
  align-items: center;
  gap: rem(4);
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stackedIcon {
  display: inline-flex;
  position: relative;
  height: rem(16);
  width: rem(16);

  &.loading {
    .favicon {
      transform: scale(0.55);
    }
  }

  .favicon {
    height: rem(16);
    width: rem(16);
    object-fit: contain;
    transition-duration: var(--transition-duration);
    transition-property: transform;
    transition-timing-function: var(--transition-timing-function);
  }

  .loader {
    animation: spin-animation 2s infinite;
    animation-timing-function: linear;
  }

  .error {
    color: var(--mantine-color-error);
  }

  > * {
    position: absolute;
  }
}
