.panelButton {
  --ai-color: var(--dock-nav-button-color) !important;

  &:not([disabled]):hover {
    color: var(--dock-nav-button-color-hover);
  }

  &[disabled] {
    background-color: transparent;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: rem(4);
}
