@import './_common.sass'

=button-base
  background-color: $color-button-bg
  border: none
  color: $color-button-text
  cursor: pointer
  outline: none
  white-space: nowrap

  &:hover
    color: white
    background-color: $color-button-bg-hover

=button
  +button-base
  font-size: 100%
  padding: $padding-sm $padding-md

  svg
    padding-right: $padding-md

=button-danger
  +button
  background-color: $color-danger
  color: $color-text-danger

  &:hover
    color: $color-text-danger
    background-color: $color-danger-hover

=make-button-round($size, $button-diameter, $font-size, $padding)
  .button-round-#{$size}
    +button-base
    border-radius: $button-diameter / 2
    font-size: $font-size
    height: $button-diameter
    line-height: $button-diameter
    padding: $padding
    width: $button-diameter

$button-diameter-xs: 20px
$button-diameter-sm: 24px
$button-diameter-md: 32px
+make-button-round(xs, $button-diameter-xs, 80%, 1px 0 0) // .button-round-xs
+make-button-round(sm, $button-diameter-sm, 105%, 1px 0 0 1px) // .button-round-sm
+make-button-round(md, $button-diameter-md, 140%, 1px 0 0) // .button-round-md
