$lightness-highlight: 25%

$color-text: rgb(36, 36, 36)
$color-text-bright: rgb(69, 69, 69)
$color-text-hover: scale-color(rgb(36, 36, 36), $lightness: $lightness-highlight)
$color-text-visited: rgb(98, 98, 98)

$color-danger: rgb(207, 30, 30)
$color-danger-hover: scale-color($color-danger, $lightness: $lightness-highlight)
$color-text-danger: white

$color-control-bg: rgb(98, 98, 98)
$color-control-border: scale-color($color-control-bg, $lightness: -$lightness-highlight)

$color-button-text: white
$color-button-bg: scale-color($color-control-bg, $lightness: $lightness-highlight)
$color-button-bg-hover: scale-color($color-button-bg, $lightness: $lightness-highlight)

$color-feed-base: blue
$color-feed-border: scale-color($color-feed-base, $lightness: 80%)
$color-feed-header-bg: scale-color($color-feed-base, $lightness: 85%)
$color-feed-tabs-bg: scale-color($color-feed-base, $lightness: 92%)
$color-feed-bg: scale-color($color-feed-base, $lightness: 95%)

$border-radius: 2px
$padding-sm: 4px
$padding-md: 8px
$padding-lg: 12px

$tooltip-opacity: 0.95

$transition-speed: 200ms
