@import 'newsdash/style/_common.sass'

.tabs
  flex-grow: 1

  \:global(.rc-tabs)
    display: flex
    flex-direction: column
    height: 100%

    .tabBar
      +text-shadow
      border-bottom-style: solid
      border-bottom-width: 1px

      \:global(.rc-tabs-nav-container)
        padding: 0 $padding-md

        \:global(.rc-tabs-tab-prev)
          display: none

        \:global(.rc-tabs-tab-next)
          display: none

        \:global(.rc-tabs-tab)
          color: $color-text-bright
          margin: 0
          padding: $padding-sm $padding-md $padding-sm / 2

          &:hover
            color: black

        \:global(.rc-tabs-tab-active)
          color: black
          text-decoration: underline

    \:global(.rc-tabs-content)
      flex-grow: 1

    .tabIcon
      font-size: 80%
      margin-left: $padding-sm

      &.error
        color: $color-danger
