@import 'newsdash/style/_common.sass'
@import 'newsdash/components/Feed/Tiles/_tile-vars.sass'

.tile
  margin-bottom: $gutter-size
  transition: height $transition-speed ease-in

  .tileWrapper
    height: 100%
    position: relative
    width: 100%

    .tileInner
      border-radius: $border-radius
      display: block
      height: 100%
      overflow: hidden
      position: relative
      width: 100%

      .tileImageWrapper
        box-shadow: 0 0 60px rgba(0, 0, 0, 0.5) inset
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%

        .tileImage
          height: 100%
          object-fit: cover
          width: 100%
