:root[data-mantine-color-scheme='dark'] {
  --text-shadow: 0 rem(1) 0 rgba(0 0 0 / 28%);
}

:root[data-mantine-color-scheme='light'] {
  --text-shadow: 0 rem(1) 0 rgba(255 255 255 / 28%);
}

body,
html {
  overflow: hidden;
}

.mantine-Button-label {
  text-shadow: 0 rem(1) 0 rgba(0 0 0 / 28%);
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.simplebar-scrollbar {
  &:before {
    background-color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }

  &.simplebar-visible:before {
    opacity: light-dark(0.4, 0.2);
  }
}
