.listFeedItem {
  padding-left: var(--mantine-spacing-sm);
  padding-right: calc(var(--mantine-spacing-xs) * 0.5);
  overflow: hidden;

  .title {
    flex-grow: 1;
    font-size: var(--mantine-font-size-md);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.condensed {
    padding-left: var(--mantine-spacing-xs);

    .title {
      font-size: var(--mantine-font-size-sm);
    }
  }
}
