@import './common.sass'

.feed
  background-color: rgb(247, 247, 247)
  display: flex
  flex-direction: column
  height: 100%

  $headerHeight: 24px

  .feedHeader
    background-color: rgb(230, 230, 230)
    display: flex
    flex-direction: row
    height: $headerHeight

    .feedIcon
      margin: $padding-sm 0 0 $padding-md

      > img
        height: 16px
        width: 16px

    h2
      font-size: 100%
      line-height: $headerHeight
      margin: 0
      padding-left: $padding-md
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

  .feedList
    overflow: hidden auto
    margin-bottom: $padding-lg

    ul
      list-style-type: none
      padding-left: 0
      margin: $padding-lg $padding-md 0 0

      .feedItem
        padding: 0 0 $padding-md $padding-md

        > a
          display: flex

          .itemTitle
            flex-grow: 1
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

          .itemDate
            color: $color-text-bright
            font-size: 90%
            padding-left: $padding-sm
            white-space: nowrap
