.label {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);

  .spacer {
    flex-grow: 1;
  }

  .icon {
    color: var(--mantine-color-blue-3);
    cursor: help;
    width: var(--mantine-font-size-xl);
    height: var(--mantine-font-size-xl);
  }
}
